html {
    box-sizing: border-box;
    font-size: 12px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background-color: transparent;
}


/* new */
.common-title {
    font-size: 16px;
    font-weight: 600;
}

.common-subtitle {
    font-size: 14px;
    font-weight: 500;
}

.common-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.common-bar+.common-bar {
    margin-top: 4px;
}

.common-button {
    min-width: 100px;
    width: 45%;
    margin-bottom: 6px;
}

/* 下载图片样式 */
.download-img {
    width: 19%;
    cursor: pointer;
}

.download-img:hover {
    width: 20%;
    border: solid 1px white;
}