/*css-background-start*/
/*background.ver.1.1.28*/
[id="workbench.parts.editor"] .split-view-view:nth-child(1) .editor-container .editor-instance>.monaco-editor .overflow-guard>.monaco-scrollable-element::after {
    background-image: url('https://s3.bmp.ovh/imgs/2021/08/c49f292e64ec0747.jpg') ;

}

[id="workbench.parts.editor"] .split-view-view:nth-child(1) .empty::before {
    background-image: url('https://s3.bmp.ovh/imgs/2021/08/c49f292e64ec0747.jpg');

}

[id="workbench.parts.editor"] .split-view-view:nth-child(2) .editor-container .editor-instance>.monaco-editor .overflow-guard>.monaco-scrollable-element::after {
    background-image: url('https://i0.hdslb.com/bfs/album/d5c71a76cd5d177868258f852afd6a6321193152.jpg');

}

[id="workbench.parts.editor"] .split-view-view:nth-child(2) .empty::before {
    background-image: url('https://i0.hdslb.com/bfs/album/d5c71a76cd5d177868258f852afd6a6321193152.jpg');

}

[id="workbench.parts.editor"] .split-view-view:nth-child(3) .editor-container .editor-instance>.monaco-editor .overflow-guard>.monaco-scrollable-element::after {
    background-image: url('https://i0.hdslb.com/bfs/album/280ceac266ec680f0c6196b58472563cad616bbb.jpg');

}

[id="workbench.parts.editor"] .split-view-view:nth-child(3) .empty::before {
    background-image: url('https://i0.hdslb.com/bfs/album/280ceac266ec680f0c6196b58472563cad616bbb.jpg');

}

[id="workbench.parts.editor"] .split-view-view .editor-container .editor-instance>.monaco-editor .overflow-guard>.monaco-scrollable-element>.monaco-editor-background {
    background: none;
}

[id="workbench.view.explorer"] .split-view-view:nth-child(1) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/27963a3677c69efd5168dafb14286b0ca977214c.jpg');

}

[id="workbench.view.search"] .split-view-view:nth-child(1) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/27963a3677c69efd5168dafb14286b0ca977214c.jpg');

}

[id="workbench.view.scm"] .split-view-view:nth-child(1) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/27963a3677c69efd5168dafb14286b0ca977214c.jpg');

}

[id="workbench.view.debug"] .split-view-view:nth-child(1) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/27963a3677c69efd5168dafb14286b0ca977214c.jpg');

}

[id="workbench.view.extensions"] .split-view-view:nth-child(1) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/27963a3677c69efd5168dafb14286b0ca977214c.jpg');

}

[id="workbench.view.explorer"] .split-view-view:nth-child(2) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/310094cc8dd6c73241938d335b1358a31b43a597.png');

}

[id="workbench.view.search"] .split-view-view:nth-child(2) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/310094cc8dd6c73241938d335b1358a31b43a597.png');

}

[id="workbench.view.scm"] .split-view-view:nth-child(2) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/310094cc8dd6c73241938d335b1358a31b43a597.png');

}

[id="workbench.view.debug"] .split-view-view:nth-child(2) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/310094cc8dd6c73241938d335b1358a31b43a597.png');

}

[id="workbench.view.extensions"] .split-view-view:nth-child(2) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/310094cc8dd6c73241938d335b1358a31b43a597.png');

}

[id="workbench.view.explorer"] .split-view-view:nth-child(3) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/e838957bb6e254125fd5277a88236cac15974c71.jpg');

}

[id="workbench.view.search"] .split-view-view:nth-child(3) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/e838957bb6e254125fd5277a88236cac15974c71.jpg');

}

[id="workbench.view.scm"] .split-view-view:nth-child(3) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/e838957bb6e254125fd5277a88236cac15974c71.jpg');

}

[id="workbench.view.debug"] .split-view-view:nth-child(3) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/e838957bb6e254125fd5277a88236cac15974c71.jpg');

}

[id="workbench.view.extensions"] .split-view-view:nth-child(3) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/e838957bb6e254125fd5277a88236cac15974c71.jpg');

}

[id="workbench.view.explorer"] .split-view-view:nth-child(4) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/30a8ee9039e9ef4a8cbbdfa8ac4b3506a3e7e00b.jpg');

}

[id="workbench.view.search"] .split-view-view:nth-child(4) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/30a8ee9039e9ef4a8cbbdfa8ac4b3506a3e7e00b.jpg');

}

[id="workbench.view.scm"] .split-view-view:nth-child(4) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/30a8ee9039e9ef4a8cbbdfa8ac4b3506a3e7e00b.jpg');

}

[id="workbench.view.debug"] .split-view-view:nth-child(4) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/30a8ee9039e9ef4a8cbbdfa8ac4b3506a3e7e00b.jpg');

}

[id="workbench.view.extensions"] .split-view-view:nth-child(4) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/30a8ee9039e9ef4a8cbbdfa8ac4b3506a3e7e00b.jpg');

}

[id="workbench.view.explorer"] .split-view-view:nth-child(5) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/081534a286ea4452b40e4dd1854c915d1c9bda8b.jpg');

}

[id="workbench.view.search"] .split-view-view:nth-child(5) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/081534a286ea4452b40e4dd1854c915d1c9bda8b.jpg');

}

[id="workbench.view.scm"] .split-view-view:nth-child(5) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/081534a286ea4452b40e4dd1854c915d1c9bda8b.jpg');

}

[id="workbench.view.debug"] .split-view-view:nth-child(5) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/081534a286ea4452b40e4dd1854c915d1c9bda8b.jpg');

}

[id="workbench.view.extensions"] .split-view-view:nth-child(5) .pane-body .monaco-list>.monaco-scrollable-element::before {
    background-image: url('https://i0.hdslb.com/bfs/album/081534a286ea4452b40e4dd1854c915d1c9bda8b.jpg');

}

/*css-background-end*/